
<div class="flex-content bg-primary" style="height: 1000px;">
  <div class="flex-item " style="height:7%;"><app-header></app-header></div>
  <div class="flex-item"  style="height:80% ;">
    <div>
      <app-about></app-about>
      <app-seccion title="proyectos" subtitle="portfolio"  text="programas tanto front como end"></app-seccion>
      <app-skills color="green" title="Html5" number="90%"></app-skills>
      
    </div> 
  </div>
 
  <div class="flex-item "  style="height:5%;" ><app-footer></app-footer></div>
  
</div>

