<div class="col-6 mt-5 p-1 bg-light text-dark  m-auto border border-dark rounded-3 w-75" id="sobre" >
    <div class="col-12 px-2  "id="seccion">
        <div class="img-fluid"  id="banner"> <img [src]="miportfolio.background" alt="banner"   ></div>
        <div class=" " id="imagen">
          <img class="rounded-circle" [src]='miportfolio.foto' width="100px" alt="foto" id="foto"> <a  class="mx-2" href=""><i class="bi bi-pencil-square text-light"></i></a>
        </div> 

         <div class="mx-3">
            <h1>{{miportfolio.name}}</h1>
            <p>{{miportfolio.title}}</p>
             <p>{{miportfolio.city}}</p>
             <ul class="list-unstyled list-group list-group-horizontal  mt-3 text-center">
              <li> <button type="button" class="btn btn-primary btn-sm">Tengo interes en..</button></li>
              <li> <button (click)="onClick()" type="button" class="btn  btn-sm">Añadir seccion</button></li>
              <li> <button type="button" class="btn  btn-sm">Mas</button></li>
            </ul>
         </div>
        </div>
</div>
